@font-face
{
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face
{
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latolight_italic';
    src: url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latohairline';
    src: url('../fonts/lato-thin-webfont.woff2') format('woff2'),
         url('../fonts/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'latohairline_italic';
    src: url('../fonts/lato-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/latosemibold-webfont.woff2') format('woff2'),
         url('../fonts/latosemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Header section style starts here */
#about-head .container
{
  max-width: 98%;
}
#about-head .top--header
{
  padding: 20px 0px 0px 0px;
}
#about-head .top--header ul
{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}
#about-head .top--header ul li a
{
  font-family: 'latolight';
  color:#1b1b1b;
  padding: 0px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
#about-head .top--header ul li a.tele
{
  padding-right: 0px;
}
#about-head .top--header ul li a.head-mail::before
{
  content:url('../images/mail.png');
  padding-right: 10px;
}
#about-head .top--header ul li a.tele::before
{
  content:url('../images/tele.png');
  padding-right: 10px;
}
#about-head .mid--header
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 10px;
}
#about-head .mid--header .mid--head--list
{
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
#about-head .mid--header .mid--head--list a
{
  padding: 0px 40px;
  font-family: 'latoregular';
  color:#1b1b1b;
  font-size: 16px;
  text-transform: uppercase;
}
#about-head .mid--header .mid--head--list a:hover
{
  text-decoration: none;
}
#about-head .mid--header .mid--head--list li.active a::after
{
  border-bottom:2px solid #c3ca43;
  padding-bottom: 5px;
}
#about-head .mid--header .mid--head--list li:last-child a
{
  background: #c3ca43;
    padding: 15px 40px;
    text-decoration: none;
}
#about-head .mid--header .mid--head--list li:last-child a:hover
{
  background: transparent;
  border:1px solid #c3ca43;
  transition: 0.3s ease-out;
}
/* Header section style ends here */

/* Banner section style starts here */
#about-banner
{
  background-image: url(../images/About.png);
  height: 300px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#about-banner .banner-breadcrumb ul.breadcrumb-list
{
  display: flex;
  list-style-type: none;
  padding-top: 12px;
  padding-left: 0px;
}
#about-banner .banner-breadcrumb ul.breadcrumb-list li a
{
  color:#fff;
  font-family: 'latoregular';
  text-transform: uppercase;
  font-size: 14px;
}
#about-banner .banner-breadcrumb ul.breadcrumb-list li a::after
{
  content: '|';
  padding: 0 5px;
}
#about-banner .banner-breadcrumb ul.breadcrumb-list li:last-child a::after
{
  content: '';
}
.banner-text-wrapper h2
{
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-family: 'latosemibold';
  text-transform: uppercase;
}
.banner-text-wrapper h2 span
{
  color:#c3ca43;
}
/* Banner section style ends here */

/* Tab Section style starts here */
#about-sec-tab .row
{
  justify-content: center;
  padding: 0px 0px;
  align-items: center;
}
#about-sec-tab .nav-tabs
{
  border: none !important;
  box-shadow: -6px 2px 2px 2px #f3f3f3;
  width: 100%;
  justify-content: center;
  padding: 10px 0px;
}
#about-sec-tab .nav-tabs .nav-link
{
  color:#6d6d6d;
  border:none !important;
  text-transform: uppercase;
}
#about-sec-tab .nav-tabs .nav-link.active
{
  background-color: #fff;
  border-color: none !important;
  font-weight: 600;
  color: #1b1b1b !important;
  text-transform: uppercase;
  font-family: 'latosemibold';
}
#about-sec-tab .bunglow-wrapper
{
  text-align: right;
}
#about-sec-tab #about .about-tab-wrapper
{
  padding: 70px 0px;
}
#about-sec-tab #about .tab-cont-wrapper h3
{
  color:#1b1b1b;
  font-family: 'latoregular';
  padding-bottom: 15px;
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
}
#about-sec-tab #about .tab-cont-wrapper h3 span
{
  color:#c3ca43;
  font-family: 'latosemibold';
}
#about-sec-tab .tab-content
{
  padding:0px;
}
#about-sec-tab .tab-cont-wrapper
{
  padding-bottom: 20px;
}
#about-sec-tab .tab-cont-wrapper p
{
  color: #6d6d6d;
  font-family: 'latoregular';
  margin: 0;
  font-size: 16px;
}
#about-sec-tab .promoters-wrapper .promoters-cont-wrapper h3
{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#about-sec-tab .promoters-wrapper .promoters-cont-wrapper h3 span
{
  color:#C3CA43;
}
#about-sec-tab .promoters-wrapper .promoters-detail-wrapper
{
  align-items: end;
}
#about-sec-tab .promoters-wrapper .promoters-detail-wrapper .profile-wrapper
{
  text-align: center;
}
#about-sec-tab .promoters-wrapper .promoters-detail-wrapper .profile-wrapper img
{
  margin-bottom: -50px;
}
#about-sec-tab .promoters-wrapper .promoters-detail-wrapper .profile-cont-wrapper h5
{
  color:#1B1B1B;
  font-size: 18px;
}
#about-sec-tab .promoters-wrapper .promoters-detail-wrapper .profile-cont-wrapper h6
{
  color:#1B1B1B;
  font-size: 16px;
  padding-bottom: 10px;
}
#about-sec-tab .promoters-wrapper .promoters-detail-wrapper .profile-cont-wrapper p
{
  color:#6D6D6D;
  font-size: 16px;
}
#about-sec-tab .finisher
{
  height: 120px;
  background-color: #C3CA43;
}
/* Tab Section style ends here */

/* csr style starts here */
#csr .csr-head-wrapper
{
  padding: 50px 0px 90px 0px;
}
#csr .csr-head-wrapper h2
{
  color:#1B1B1B;
  font-size: 26px;
  width: 100%;
  text-align: center;
  margin: 0;
}
#csr .csr-head-wrapper h2 span
{
  color:#C3CA43;
}
#csr .csr-head-wrapper h4
{
  color:#6D6D6D;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: 0;
}
#csr .csr-detail-wrapper
{
  align-items: end;
  padding-bottom: 70px;
}
#csr .csr-detail-wrapper .csr-listing-wrapper
{
  border:1px solid #C3CA43;
  padding: 20px;
  position: relative;
  width: 85%;
  margin: 0 auto;
}
#csr .csr-detail-wrapper .csr-listing-wrapper h3
{
  color:#22212C;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
#csr .csr-detail-wrapper .csr-listing-wrapper .upper-icon
{
  position: absolute;
  top: -48px;
  border: 1px solid #C3CA43;
  padding: 20px;
  border-radius: 50%;
  background-color: #C3CA43;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 80px;
  width: 80px;
}
#csr .csr-detail-wrapper .csr-listing-wrapper .lower-icon
{
  position: absolute;
  bottom: -10px;
  border: 1px solid #1B1B1B;
  padding: 7px;
  border-radius: 50%;
  background-color: #1B1B1B;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#csr .csr-detail-wrapper .csr-listing-wrapper ul
{
  padding: 0px 10px;
  margin: 0;
}
#csr .csr-detail-wrapper .csr-listing-wrapper ul li
{
  color:#1B1B1B;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 0px;
}
/* csr style ends here */


/* Footer Section Starts Here*/
footer {
  background-color: #1b1b1b;
      padding: 40px 0px;
      color: #fff;
}
footer h2 {
  font-family: 'Lato-Bold';
  color: #c3ca43;
  font-size: 46px;
  cursor: pointer;
  text-align: center;
}
footer hr {
    margin: 30px 0px 20px;
    border-top: 1px solid #323232;
}
.footer--bar h4 {
    color: #ffffff;
  font-family: 'Lato-Semibold';
    font-size: 16px;
    margin-bottom: 15px;
}
.footer--bar p  {
  margin-bottom: 6px;
}
.footer--bar p a {
  color: #ffffff;
   font-family: 'Lato-Semibold';
    font-size: 16px;
}
.footer--bar p a img{
  padding-right: 10px;
}
.footer--bar ul li  {
  margin-bottom: 6px;
}
.footer--bar {
  padding: 30px 0px 0px;
}
.footer--bar ul li a{
  color: #ffffff;
   font-family: 'Lato-Semibold';
    font-size: 16px;
    padding: 0px;
}
.bottom--footer h4 {
  font-size: 14px;
  color: #fff;
   font-family: 'Lato-Regular';
  opacity: 0.8;
}
.bottom--footer {
  padding-top: 15px;
}
.bottom--footer h4 span{
  padding: 0px 6px;

}
.social-icons .fb span {
background-position:4px 0px;
  }
.social-icons .ytb span {
background-position:-69px 0px;
  }
.social-icons .twitter span {
background-position: -31px 1px;
  }
.social-icons a  {
display: inline-block;
margin-right: 10px;
}
.social-icons a span {
    background: url('../images/social.png');
        padding: 6px 16px;
    background-repeat: no-repeat;
}

.bottom--footer h4 a{
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
   font-family: 'Lato-Regular';

}
/* Footer section style ends here */

/* Media queries starts here */
@media(min-width:768px)
{
  .container
  {
    max-width: 98% !important;
  }
  #about-sec-tab .container {
    max-width: 97% !important;
    padding: 0px !important;
}
#about-sec-tab .promoters-wrapper .container
{
  max-width: 80% !important;
}
}

@media(max-width:768px)
{
  #about-sec-tab #about .about-tab-wrapper
  {
    padding: 30px 0px 50px 0px;
  }
  #about-sec-tab .promoters-wrapper .promoters-detail-wrapper .profile-wrapper img
  {
        margin-bottom: unset;
        padding-bottom: 20px;
  }
  #csr .csr-head-wrapper
  {
        padding: 30px 0px 70px 0px;
  }
  #csr .csr-detail-wrapper
  {
    padding-bottom: 0px;
  }
  #csr .csr-detail-wrapper .csr-listing-wrapper
  {
    width: 100%;
    margin-bottom: 80px;
  }
}

@media(min-width:769px) and (max-width:992px)
{
  #csr .csr-detail-wrapper .csr-listing-wrapper
  {
    width: 100%;
    margin-bottom: 80px;
  }
  #csr .csr-detail-wrapper
  {
    padding-bottom: 0px;
  }
  #about-sec-tab .container
  {
    max-width: 95% !important;
  }
}
/* Media queries ends here */
